body{
  font-family: sans-serif;
}

.fullscreen{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

#radiatorUrl{
  width: 200px;
}

#radiator{
  border: none;
}

#shareVideo{
  background: #000;
}

#remoteVideo{
  width: 20%;
  height: 20%;
}